<div class="ui top menu mb0">
  <%= link_to 'MyBookShop', root_path, class: 'item' %>
  <%= link_to '#', class: 'item' do %>
    <i class="search icon"></i>
    商品を探す
  <% end %>
  <div class="right menu">
    第3章 Railsのセットアップ

    <%= link_to '会員登録', '#', class: 'item' %>
    <%= link_to 'ログイン', '#', class: 'item' %>
    <%= link_to 'カート', '#', class: 'item' %>
  </div>
</div>

