<!DOCTYPE html>
<html>
  <head>
    <title>My Book Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%# 各ビューファイルからここにコードを追加できるようにする %>
    <%= yield :head if content_for? :head %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/flashes' %>
    <%= yield %>
  </body>
</html>
